<div id='success-stories-wrapper'>
  <div id='vanessa-story' class="twelve column">
    <h4 class="header">"I decided to really focus on getting healthy, not just for me, but for my family."</h4>
    <div class="row">
      <div class="four columns member-info">
        <%= image_tag "pages/vanessa.jpg" %>
        <p class="note">Results will vary based on many factors including starting weight, effort and diet. Results achieved with the UFC FIT program, including its reduced-calorie diet.</p>
        <h2>Vanessa L.</h2>
        <h3>Weight Loss: <span>21 pounds</span></h4>
        <p class="story-pointer">Check out Vanessa's Story<span></span></p>
      </div>
      <div class="eight columns">
        <div class="flex-video widescreen">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/4zANBI0dWec" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div id='durrell-story' class="twelve column">
    <h4 class="header">"The program catapulted me into the lifestyle I've always wanted."</h4>
    <div class="row">
      <div class="four columns member-info">
        <%= image_tag "pages/durrell.jpg" %>
        <p class="note">Results will vary based on many factors including starting weight, effort and diet. Results achieved with the UFC FIT program, including its reduced-calorie diet.</p>
        <h2>Durrell M.</h2>
        <h3>Weight Loss: <span>42 pounds</span></h4>
        <p class="story-pointer">Check out Durrell's Story<span></span></p>
      </div>
      <div class="eight columns">
        <div class="flex-video widescreen">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/do13yJuxeI8" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div id='nelson-story' class="twelve column">
    <h4 class="header">"The food in UFC FIT is awesome! It's actual food."</h4>
    <div class="row">
      <div class="four columns member-info">
        <%= image_tag "pages/nelson.jpg" %>
        <p class="note">Results will vary based on many factors including starting weight, effort and diet. Results achieved with the UFC FIT program, including its reduced-calorie diet.</p>
        <h2>Nelson M.</h2>
        <h3>Weight Loss: <span>30 pounds</span></h4>
        <p class="story-pointer">Check out Nelson's Story<span></span></p>
      </div>
      <div class="eight columns">
        <div class="flex-video widescreen">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/4xo8jCcHYog" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div id='daniela-story' class="twelve column">
    <h4 class="header">"It's the best thing I ever did. I've gone from a dress size 8 to a size 2."</h4>
    <div class="row">
      <div class="four columns member-info">
        <%= image_tag "pages/daniela.jpg" %>
        <p class="note">Results will vary based on many factors including starting weight, effort and diet. Results achieved with the UFC FIT program, including its reduced-calorie diet.</p>
        <h2>Daniela P.</h2>
        <h3>Weight Loss: <span>15 pounds</span></h4>
        <p class="story-pointer">Check out Daniela's Story<span></span></p>
      </div>
      <div class="eight columns">
        <div class="flex-video widescreen">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/SjyF9_FxdxA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div id='justin-story' class="twelve column">
    <h4 class="header">"I'll never go back to just going to the gym."</h4>
    <div class="row">
      <div class="four columns member-info">
        <%= image_tag "pages/justin.jpg" %>
        <p class="note">Results will vary based on many factors including starting weight, effort and diet. Results achieved with the UFC FIT program, including its reduced-calorie diet.</p>
        <h2>Justin H.</h2>
        <h3>Weight Loss: <span>17 pounds</span></h4>
        <p class="story-pointer">Check out Justin's Story<span></span></p>
      </div>
      <div class="eight columns">
        <div class="flex-video widescreen">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/-vKLgmut9Y0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="twelve column">
    <h4 class="header">"Everything feels better. It works and it's easy to follow."</h4>
    <div class="row">
      <div class="four columns member-info">
        <%= image_tag "pages/jerry.jpg" %>
        <p class="note">Results will vary based on many factors including starting weight, effort and diet. Results achieved with the UFC FIT program, including its reduced-calorie diet.</p>
        <h2>Jerry K.</h2>
        <h3>Weight Loss: <span>41 pounds</span></h4>
        <p class="story-pointer">Check out Jerry's Story<span></span></p>
      </div>
      <div class="eight columns">
        <div class="flex-video widescreen">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/EOW3AMPWp7Q" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>


  <div  style='display:none;'>
    <%= link_to 'click', root_path, :id => 'qa-nav' %>
  </div>
</div>
