<% content_for :head do -%>
  <%= stylesheet_link_tag 'site/pages/success_stories' %>
<% end %>

<div class="twelve column">
  <h4 class="header">"I've reversed the clock with UFC FIT."</h4>
  <div class="row">
    <div class="four columns member-info">
      <%= image_tag "pages/diane.jpg" %>
      <p>Results will vary based on many factors including starting weight, effort and diet. Results achieved with the UFC FIT program, including its reduced-calorie diet.</p>
      <h2>Diane A.</h2>
      <h3>Weight Loss: <span>19 pounds</span></h4>
      <%= link_to do %>
        Check out Diane's Story<span></span>
      <% end %>
    </div>
    <div class="eight columns">
      <div class="flex-video widescreen">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/ZO_ogIx0LaQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="twelve column">
  <h4 class="header">"The program catapulted me into the lifestyle I've always wanted."</h4>
  <div class="row">
    <div class="four columns member-info">
      <%= image_tag "pages/durrell.jpg" %>
      <p>Results will vary based on many factors including starting weight, effort and diet. Results achieved with the UFC FIT program, including its reduced-calorie diet.</p>
      <h2>Durrell M.</h2>
      <h3>Weight Loss: <span>42 pounds</span></h4>
      <%= link_to do %>
        Check out Durrell's Story<span></span>
      <% end %>
    </div>
    <div class="eight columns">
      <div class="flex-video widescreen">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/ZO_ogIx0LaQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="twelve column">
  <h4 class="header">"I decided to really focus on getting healthy, not just for me, but for my family."</h4>
  <div class="row">
    <div class="four columns member-info">
      <%= image_tag "pages/vanessa.jpg" %>
      <p>Results will vary based on many factors including starting weight, effort and diet. Results achieved with the UFC FIT program, including its reduced-calorie diet.</p>
      <h2>Vanessa L.</h2>
      <h3>Weight Loss: <span>21 pounds</span></h4>
      <%= link_to do %>
        Check out Vanessa's Story<span></span>
      <% end %>
    </div>
    <div class="eight columns">
      <div class="flex-video widescreen">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/ZO_ogIx0LaQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


<div  style='display:none;'>
  <%= link_to 'click', root_path, :id => 'qa-nav' %>
</div>
