<div class='nine columns'>
  <h3> Addresses </h3>
  <% if @addresses.empty? %>
    <p>
      <%= I18n.t(:no_addresses_saved) %>
    </p>
  <% else %>
    <div class='row'>
      <% for address in @addresses %>
        <div class='four columns'><br/>
          <%= render :partial => '/shared/compact_address', :locals => { :shopping_address => address } %>
          <%= address.phone_number %><br/>
          <%= link_to "Edit", edit_myaccount_address_path(address) %> |
          <%= link_to "Remove", myaccount_address_path(address), :confirm => 'Are you sure?', :method => :delete %>
        </div>
      <% end %>
    </div>
  <% end %>

  <p class='top20'><%= link_to "New Address", new_myaccount_address_path %></p>
</div>
