<div id="order-confirmation">
  <div class="row">
    <div class='four columns'>
      <%= render :partial =>  'shopping/tabs' %>
    </div>
    <div class='eight columns'>
      <div class="select-shipping-box background-gray red-border-left">
        <h4 class="margin-0 text-10 bold black margin-left-10 padding-left-10 padding-top-10">THANK YOU, YOUR ORDER HAS BEEN PLACED</h4>
        <div class='row padding-top-10 padding-left-30'>
          <ul class='twelve large-12 columns'>
            <li>
              AN EMAIL CONFIRMATION HAS BEEN SENT TO YOU
            </li>
            <li>
              ORDER NUMBER: <span class="bold black"><%= @order.number %></span>
            </li>
            <li>
              <span class="bold black">JUST A REMINDER, PRE-ORDERS WILL NOT SHIP TILL MID-MAY</span>
            </li>
          </ul>
        </div>
      </div>
      <hr style='color:#aac;'/>
      <div class='row padding-10 border-1 margin-0'>
        <% @order.order_items.each_with_index do |item, i| %>
          <div class='four column'>
            <div class="cropped-150 bottom-10" style="background-image:url('<%= item.variant.featured_image(:product) %>')"></div>
          </div>
          <div class='eight column'>
            <h4 class='red bold text-10'>
              Item #<%= i + 1 %>: <%= item.variant.product_name %><%# The Complete UFCFIT Lifestyle Program %>
            </h4>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
