<div id="order-confirmation">
  <div class="row">
    <div class="twelve columns">
      <div class="top-bar">
        <h3 class="white bold padding-10">PRE-ORDERS WILL NOT SHIP TILL MID-MAY</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='four columns'>
      <%= render :partial =>  'shopping/tabs' %>
    </div>
    <div class='eight columns'>
      <div class="select-shipping-box background-gray red-border-left">
        <h4 class="margin-0 text-10 bold black margin-left-10 padding-left-10 padding-top-10">THANK YOU, YOUR ORDER HAS BEEN PLACED</h4>
        <div class='row padding-top-10 padding-left-30'>
          <ul class='twelve large-12 columns'>
            <li>
              AN EMAIL CONFIRMATION HAS BEEN SENT TO YOU
            </li>
            <li>
              ORDER NUMBER: <span class="bold black"><%= @order.number %></span>
            </li>
            <li>
              <span class="bold black">JUST A REMINDER, PRE-ORDERS WILL NOT SHIP TILL MID-MAY</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <% @order.order_items.each_with_index do |item, i| %>
          <blockquote class='finished-order-item'>
            <div class="row">
              <div class='four large-4 columns'>
                <h2>Item #<%= i + 1 %>: </h2>
              </div>
              <div class='eight large-8 columns'>
                <ul>
                  <li><%= item.variant.product_name %></li>
                  <li><%= image_tag item.variant.featured_image %></li>
                </ul>
              </div>
            </div>
          </blockquote>
        <% end %>

      </div>
    </div>
  </div>
</div>
