<div id="xyience">
  <div class="twelve xyience columns">
    <h3>ON THE GO?</h3>
    <div class="row">
      <p class="eight columns">If you are stuck in traffic, traveling or unable to properly prepare meals, a Xyience<sup>®</sup> Ulti-Meal<sup>™</sup> Replacement Protein Shake or Xyience<sup>®</sup> Ulti-Bar<sup>TM</sup> are perfect substitutes for any of the meal or snack segments described in the Meal Plan.</p>
      <%= image_tag 'pages/xyience.jpg', :width => '287', :class => 'xyience four columns' %>
    </div>
  </div>

  <div class="twelve columns">
    <div class="flex-video widescreen">
      <iframe width="1000" height="563" src="http://www.youtube.com/embed/UnfZt3d4eQk" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video-title drop-shadow curved curved-hz">
      <p><span>MIKE DOLCE /</span> Xyience ULTI-MEAL</p>
    </div>
  </div>

  <div class="twelve ulti-meal columns">
    <div class="row">
      <%= image_tag 'pages/shake.jpg', :width => '340', :class => 'four mobile-three1 columns' %>
      <p class="eight columns">The Ulti-Meal Replacement Protein Shake and Ulti-Bar were created in conjunction with UFC FIT, using only the highest quality protein. Ulti-Meal has a powerful multi-vitamin/mineral blend, electrolytes, fiber, probiotics and a digestive enzyme blend. Both delicious products are naturally sweetened and are free of artificial colors and trans fats.</p>
      <%= image_tag 'pages/ulti-meal.jpg', :width => '466', :class => 'meal five columns' %>
    </div>
    <div class="row ulti-bar">
      <%= image_tag 'pages/ulti-bar.jpg', :width => '413', :class => 'five columns' %>
      <p class="seven columns">Xyience<sup>®</sup> uses high-quality ingredients and delivers them to you in an easy-to-consume, grab-and-go package that provides high nutritional value and delicious flavor. Keep one at your desk and one in your gym bag, and you’ll be prepared to stay on the UFC FIT meal plan.</p>
    </div>
  </div>
  <div class="twelve columns">
    <div class="flex-video widescreen">
      <iframe width="1000" height="563" src="http://www.youtube.com/embed/DKCYydcY_L4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video-title drop-shadow curved curved-hz">
      <p><span>MIKE DOLCE /</span> Xyience ULTI-BAR</p>
    </div>
  <hr />
  </div>

  <%= render :partial => 'shared/promotion_preorder' %>
</div>

<div  style='display:none;'>
  <%= link_to 'click', root_path, :id => 'qa-nav' %>
</div>
