<% content_for :head do -%>
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,700,600italic,700italic,900' rel='stylesheet' type='text/css'/>


  <%#= stylesheet_link_tag 'jquery.titanlighbox.css' %>

  <%#= javascript_include_tag 'jquery.themepunch.plugins.min' %>
  <%#= javascript_include_tag 'jquery.themepunch.revolution.min' %>

  <%#= javascript_include_tag 'jquery.tipsy' %>
  <%#= javascript_include_tag 'prettify' %>
  <%#= javascript_include_tag 'jquery.titanlighbox' %>
  <%#= javascript_include_tag 'jquery.isotope.min' %>
  <%#= javascript_include_tag 'jquery.jtweetsanywhere' %>

<% end %>

<% content_for :bottom do -%>
  <!-- FlexSlider -->
  <%#= javascript_include_tag 'jquery.flexslider' %>

  <!-- Initialize JS Plugins -->
  <%#= javascript_include_tag 'preorders/app' %>

<% end %>



<div id="preorder-landing-wrapper"><!-- Begin Main Wrapper -->

<!-- Region 5 Wrap -->

  <div class="container region5wrap top20 bottom20">
    <div class="row maincontent ">
      <div class="twelve columns">
        <div class="row">
          <div class="twelve columns text-center">
            <%= image_tag 'preorder/team.jpg', :width => 1080, :height => 450  %>
          </div>

          <div class="twelve columns text-center">
            <h1 class=" top20 bottom20">For 12 weeks, they gave UFC FIT their best effort. When it ended, these ordinary people" showed extraordinary results that far exceeded even their own wildest expectations.</h1>
          </div>
          <div class="twelve columns">
            <hr class="top10"/>
          </div>

          <!--success stories 3 start-->
          <div class="row">

            <div class="four columns">
              <div class="member-info">
              <%= image_tag 'preorder/durrell.jpg'%>
                <h2 class="member-name">Durrell M.</h2>
                  <p class="member-possition"><b>Security</p>
                <p class="member-description"><b>Weight:</b> -42.6<br /><b>Inches Overall:</b> -47.5<br /><b>Stomach Inches:</b> -7.8<br /><b>Body Fat %:</b> -8.7%</p>

              </div>
            </div>

            <div class="four columns">
              <div class="member-info">
                <%= image_tag 'preorder/vanessa.jpg'%>
                <h2 class="member-name">Vanessa L.</h2>
                <p class="member-possition"><b>Speech Therapist</b></p>
                <p class="member-description">
                  <b>Weight:</b> -21.2<br /><b>Inches Overall:</b> -30.75<br /><b>Stomach Inches:</b> -6<br /><b>Body Fat %:</b> -7.6%
                </p>

              </div>
            </div>

            <div class="four columns">
              <div class="member-info">
                <%= image_tag 'preorder/nelson.jpg'%>
                <h2 class="member-name">Nelson M.</h2>
                <p class="member-possition"><b>U.S. Marine</p>
                  <p class="member-description"><b>Weight:</b> -30.8<br /><b>Inches Overall:</b> -37.25<br /><b>Stomach Inches:</b> -6.5<br /><b>Body Fat %:</b> -5.5%</p>

              </div>
            </div>

            </div>

        <!--success stories 3 end -->
        <!--video start-->
            <div class="twelve columns bottom20" style="background-color:#c30615;">

              <h1><span style="color:#fff;">UFC FIT SNEAK PEAK</span></h1>

              <div class="row">

                <div class="nine columns">
                  <div class="flex-video widescreen">
                    <iframe width="560"
                            height="315"
                            src="http://www.youtube.com/embed/eRsGyueVLvQ?rel=0"
                            frameborder="0" allowfullscreen="">
                    </iframe>
                  </div>
                </div>

                <div class="three columns">

                  <p style="color:#fff;">Etiam auctor tincidunt augue at pharetra. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae.</p>

                </div>

              </div>
              <br />
              <br />
            </div>

          <!--video end-->

              <div class="twelve columns text-center">


                <h2 class=' top20 bottom20'>You will have the opportunity to change your life and to be the person you deserve to be. Our goal is to provide all the tools necessary for you to lose weight, gain strength, increase flexibility, extend endurance and achieve boundless energy.
                </h2>
              </div>
              <div class="twelve columns text-center">
                <%= link_to preorders_path, :method => 'post' do %>
                  <%= image_tag 'preorder/PreOrder_package.jpg', :width => "1000", :height => "428" %>
                <% end %>
                <h1>THE COMPLETE UFC FIT LIFECYCLE PROGRAM</h1>
              </div>

                        <!-- Portfolio Item Description -->
              <div class="seven columns">

                <div class="row">
                  <div class="twelve columns">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>



                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo, nemo enim ipsam voluptatem quia voluptas sit asperna.</p>

                  </div>
                </div>
              </div>
              <div class="five columns">

                <div class="row">
                  <div class="twelve columns">
                    <ul class="type3">
                      <li><i class="icon-caret-right"></i>12 WORKOUT DVDs</li>
                      <li><i class="icon-caret-right"></i>WORKOUT TRACKER</li>
                      <li><i class="icon-caret-right"></i>LIFESTYLE & NUTRITION MANUAL
                          <ul>
                          COMPLETE WITH GROCERY LISTS, MEAL PLANS AND RECIPES
                          </ul>
                      </li>
                      <li><i class="icon-caret-right"></i>3-DAY SHRED</li>
                    </ul>
                  </div>
                </div>

              </div>
              <!-- End Portfolio Item Description -->

              <!-- Portfolio Item - Similar Works -->
              <div class="twelve columns">
                <hr class="bottom10"/>
              </div>

              <div class="twelve columns text-center">
                <%= image_tag 'preorder/Dolce_Lifestyle.jpg', :width => "1080", :height => "450"%>
              </div>



            </div>
          </div>
        </div>
                    <!-- End Portfolio Item - Similar Works -->
      </div>
    </div>
  </div>
  <!-- Back To Top -->
    <a href="#" class="scrollup">Scroll</a>
  <!-- End Back To Top -->
</div>

<!-- End Region 5 Wrap -->





</div><!-- End Main Wrapper -->
