<% content_for :head do -%>

<% end %>

<% content_for :bottom do -%>
<% end %>



<div id="preorder-landing-wrapper"><!-- Begin Main Wrapper -->

<!-- Region 5 Wrap -->

  <div class="container region5wrap top20 bottom20">
    <div class="row maincontent ">
      <div class="twelve columns">
        <div class="row">
          <div class="twelve columns text-center">
            <%= link_to preorders_path, :method => 'post' do %>
              <%= image_tag 'preorder/team.jpg', :width => 1080, :height => 450  %>
            <% end %>
          </div>

          <div class="twelve columns text-center">
            <h1 class=" top20 bottom20">
              For 12 weeks, they gave the UFC FIT program their best effort.<br />When it ended, these &ldquo;ordinary people&rdquo; showed extraordinary<br />results that far exceeded even their own wildest expectations.
            </h1>
          </div>
          <div class="twelve columns">
            <hr class="top10"/>
          </div>

          <!--success stories 3 start-->
          <div class="row">

            <div class="four columns">
              <div class="member-info">
              <%= image_tag 'preorder/durrell.jpg'%>
                <h2 class="member-name">Durrell M.</h2>
                  <p class="member-possition"><b>Security</p>
                <p class="member-description"><b>Weight:</b> -42.6<br /><b>Inches Overall:</b> -47.5<br /><b>Stomach Inches:</b> -7.8<br /><b>Body Fat %:</b> -8.7%</p>

              </div>
            </div>

            <div class="four columns">
              <div class="member-info">
                <%= image_tag 'preorder/vanessa.jpg'%>
                <h2 class="member-name">Vanessa L.</h2>
                <p class="member-possition"><b>Speech Therapist</b></p>
                <p class="member-description">
                  <b>Weight:</b> -21.2<br /><b>Inches Overall:</b> -30.75<br /><b>Stomach Inches:</b> -6<br /><b>Body Fat %:</b> -7.6%
                </p>

              </div>
            </div>

            <div class="four columns">
              <div class="member-info">
                <%= image_tag 'preorder/nelson.jpg'%>
                <h2 class="member-name">Nelson M.</h2>
                <p class="member-possition"><b>U.S. Marine</p>
                  <p class="member-description"><b>Weight:</b> -30.8<br /><b>Inches Overall:</b> -37.25<br /><b>Stomach Inches:</b> -6.5<br /><b>Body Fat %:</b> -5.5%</p>

              </div>
            </div>

            </div>

        <!--success stories 3 end -->
        <!--video start-->
            <div class="twelve columns bottom20" style="background-color:#c30615;">

              <h1><span style="color:#fff;">UFC FIT SNEAK PEAK</span></h1>

              <div class="row">

                <div class="nine columns">
                  <div class="flex-video widescreen">
                    <iframe width="560"
                            height="315"
                            src="https://www.youtube-nocookie.com/embed/7j6WC3pGQeY?rel=0"
                            frameborder="0" allowfullscreen="">
                    </iframe>
                  </div>
                </div>

                <div class="three columns">

                  <p style="color:#fff;">
                    <h3 style="color:white;text-transform:uppercase;">Are you motivated to do better? To look better? To perform better? Do you want to wake up each day proud of your own efforts? <br /><br />Today is the day! You made the choice. You made that first step.<br /><br /><b>YOU COMMITTED!</b></h3>
                  </p>

                </div>

              </div>
              <br />
              <br />
            </div>

          <!--video end-->

              <div class="twelve columns text-center">


                <h2 class=' top20 bottom20'>You have the opportunity to change your life and be the person you deserve to be. Our goal is to provide all the tools necessary for you to lose weight, gain strength, increase flexibility, extend endurance and achieve boundless energy.</h2>
              </div>
              <div class="twelve columns text-center">
                <%= link_to preorders_path, :method => 'post' do %>
                  <%= image_tag 'preorder/PreOrder_package.jpg', :width => "1000", :height => "428" %>
                <% end %>
              </div>

                        <!-- Portfolio Item Description -->
              <%= image_tag 'after_pre-order.png', :width => "1080", :height => "450", :style => 'margin-left:30px;' %>
              <!-- End Portfolio Item Description -->

              <!-- Portfolio Item - Similar Works -->
              <div class="twelve columns">
                <hr class="bottom10"/>
              </div>

              <div class="twelve columns text-center">
                <%= image_tag 'preorder/Dolce_Lifestyle.jpg'%>
              </div>



            </div>
          </div>
        </div>
                    <!-- End Portfolio Item - Similar Works -->
      </div>
    </div>
  </div>
  <!-- Back To Top -->
    <a href="#" class="scrollup">Scroll</a>
  <!-- End Back To Top -->
</div>

<!-- End Region 5 Wrap -->





</div><!-- End Main Wrapper -->
