<% content_for :head do -%>
<% end %>

<% content_for :bottom do -%>
<% end %>

<div id="preorder-landing-wrapper"><!-- Begin Main Wrapper -->

  <!-- Region 5 Wrap -->
  <div class="container region5wrap bottom20">
    <div class="maincontent ">
      <div class="preorder-banner">

        <%= link_to preorders_path, :method => 'post' do %>
          <%= image_tag 'preorder/UFCfit_HomeBanner.jpg', :width => '1000' %>
          <h4 class="four"><b>Mike Dolce</b>UFC FIT Creator &amp; Coach</h4>
          <p class="offset-by-six columns"><em>F</em>ULL-BODY <em>I</em>NTENSITY <em>T</em>RAINING</p>

          <h1 class="five columns"><%= image_tag 'preorder/UFCfit_logo.png', :width => '352', :alt => 'UFCfit' %></h1>
          <blockquote class="four offset-by-eight">"This is the key to changing your life.<br/>This is the chance you've always hoped for."<cite>Dana White</cite></blockquote>
          <span  class="text-center three">Pre-order now</span>
        <% end %>

        <h2 class="column text-center top10">Fast-paced, high-intensity, action-packed workouts mimic the pace of a UFC competition with familiar movements used in the Octagon.<sup>TM</sup></h2>
      </div>

      <div class="twelve columns">
        <hr class="top10"/>
        <div class="row preorder promotion">
          <div class="six columns">
            <%= image_tag 'preorder/PreOrder_package.png'%>
          </div>
          <div class="six columns">
            <h2>The complete UFC FIT lifestyle program</h2>
            <ul class="square">
              <li>12 workout DVDs</li>
              <li>12-week Workout Tracker</li>
              <li>132-page Lifestyle &amp;&nbsp;Nutrition Manual<span>Complete with training tips, a grocery list, meal plans and healthy, delicious recipes</span></li>
              <li>Plus, get a jump start on weight loss with 3-Day Shred</li>
            </ul>
            <%= link_to 'PRE-ORDER NOW', preorders_path, :class => 'button seven columns centered', :method => 'post' %>
          </div>

        </div>
        <hr class="top10"/>
      </div>

      <!--success stories 3 start-->
      <div class="twelve columns" style="overflow: hidden; padding: 0;">
        <div class="row">

          <div class="four columns">
            <%= render :partial => 'shared/people/vanessa' %>
          </div>

          <div class="four columns">
            <%= render :partial => 'shared/people/durrell' %>
          </div>

          <div class="four columns">
            <%= render :partial => 'shared/people/daniela' %>
          </div>

        </div>
      </div>
      <!--success stories 3 end -->

      <div class="twelve columns text-center">
        <h3 class="bottom20 ordinary">For 12 weeks, they gave the UFC FIT program their best effort.<br />When it ended, these "ordinary people" showed extraordinary results<br />that far exceeded even their own wildest expectations.</h3>
      </div>

      <!--video start-->
      <div class="video-box twelve columns">
        <h3><b>UFC FIT SNEAK PEEK</b></h3>

        <div class="row">
          <div class="nine columns">
            <div class="flex-video widescreen">
              <iframe width="640"
                height="360"
                src="https://www.youtube.com/embed/b5fg1iYIyow"
                frameborder="0" allowfullscreen="">
              </iframe>
            </div>
          </div>

          <div class="three columns">
            <h4>Are you motivated to do better? To look better? To perform better? Do you want to wake up each day proud of your own efforts? <br /><br />Today is the day! You made the choice. You made that first step.<br /><br /><b>YOU COMMITTED!</b></h4>
          </div>

        </div>
        <br />
        <br />
      </div>
      <!--video end-->

      <div class="twelve columns preorder-package">
        <%= link_to preorders_path, :method => 'post' do %>
          <%= image_tag 'preorder/PreOrder_package.png', :width => "1000", :height => "476" %>
          <span class="four columns">Pre-order now</span>
        <% end %>
      </div>

      <!-- Portfolio Item Description -->
      <div class="twelve columns preorder">
        <div class="row">
          <div class="six columns">
            <p>The UFC FIT lifestyle program is based on the same methods the world's greatest athletes use to prepare for battle in the Octagon.<sup>TM</sup></p>
            <p>We understand your daily battle might be in the office, at home or in the classroom. Though the opponent may change, the plan of attack remains the same. The exercises you perform in your home will be many of the same exercises your favorite fighters perform in the gym to ensure their own peak physical conditions.</p>
            <p>The only UFC-developed training program, UFC FIT guides you through the training regimen followed by elite UFC athletes. UFC FIT creator and coach Mike Dolce will help you lose weight, gain strength and increase your energy. See amazing results in 12 weeks, all in your home.</p>
          </div>
          <div class="six columns lifestyle-program">
            <h2>The complete UFC FIT lifestyle program</h2>
            <ul class="square">
              <li>12 workout DVDs</li>
              <li>12-week Workout Tracker</li>
              <li>132-page Lifestyle &amp;&nbsp;Nutrition Manual<span>Complete with training tips, a grocery list, meal plans and healthy, delicious recipes</span></li>
              <li>Plus, get a jump start on weight loss with 3-Day Shred</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Portfolio Item Description -->

      <!-- Portfolio Item - Similar Works -->
      <div class="twelve columns">
        <hr class="top10 bottom20"/>
      </div>

      <div class="twelve columns dolce-lifestyle">
        <div class="row">
          <div class="eight columns">
            <h2>Meet your coach</h2>
            <p>Simply put, the principles you'll see in this program are designed by me, a world-class coach. These principles are used with great success at a world-class level by world-class athletes. No other workout program meets these standards. It is my goal to help every person live the life they deserve:<br/><strong>to be lean, to feel confident, to be healthy.</strong></p>
            <h4>Mike Dolce<span>UFC FIT Creator and Coach</span></h4>
          </div>

          <div class="four mobile-three columns">
            <%= image_tag 'preorder/mike.png', :width => '370', :height => '232', :class => 'coach' %>
          </div>
            <%= image_tag 'preorder/btm_lines.png', :width => '1000', :class => 'bottom-line' %>
        </div>
        </div>

      <!-- End Portfolio Item - Similar Works -->
    </div>

    <!-- Back To Top -->
    <a href="#" class="scrollup">Scroll</a>
    <!-- End Back To Top -->

  </div><!-- End Region 5 Wrap -->
</div><!-- End Main Wrapper -->
