<!DOCTYPE html>
<html>
<head>
  <title>
    <%= site_name %>: <%= yield :title %>
  </title>
  <link rel="shortcut icon" href="/assets/favicon.ico" />

  <meta name="viewport" content="initial-scale=1.0">
  <meta name="description" content="UFCfit">

  <%= stylesheet_link_tag "foundation" %>
  <%= stylesheet_link_tag 'site/app.css' %>
  <%= stylesheet_link_tag 'site/temp_signup_form.css', :media => 'screen' %>
  <%#= stylesheet_link_tag 'site/small_welcome.css', :media => 'screen and (min-width: 10px) and (max-width: 320px)' %>
  <%= stylesheet_link_tag 'site/small_welcome.css', :media => 'only screen and -webkit-min-device-pixel-ratio: 2' %>

    <!--[if lt IE 8]
  <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection'%>
  <![endif]-->
  <!--[if lt IE 7]
      <%= stylesheet_link_tag 'ie6.css', :media => 'screen, projection' %>
  <![endif]-->
  <%= csrf_meta_tag %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "foundation" %>
  <%= javascript_include_tag 'jquery.anystretch'%>

  <%= yield :head %>

</head>
<body >

<div id='body_wrapper'>
  <% if notice || alert %>
    <div class="row">
      <%= raw "<p class='flash_notice'> #{notice}</p>"  if notice %>
      <%= raw "<p class='flash_error'>#{alert}</p>"     if alert %>
    </div>
  <% end %>

    <%#= render :partial => '/shared/welcome_header'%>

    <div id='content_wrapper' class='row'>
      <%= yield %>
    </div>
    <div id='prefooter_wrapper'>&nbsp;</div>
</div>

  <%#= render 'shared/main_footer' %>
  <%= yield :bottom %>
  <%= javascript_include_tag 'rotate_images'%>
  <%= javascript_include_tag 'temp_signup_form'%>
  <script>
  jQuery(window).ready(
    function() {
      jQuery('.flash_notice').delay(6000).slideUp( 'slow');
      jQuery('.flash_error').delay(6000).slideUp( 'slow');
      //$.anystretch("<%= image_path('no_image.jpg') %>", {speed: 350});

    }
    //$.anystretch($('#featured_item img').attr('src'), {speed: 150});
  );
  </script>

</body>
  <%= yield :below_body %>
</html>
